video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}
  
video:hover .Player-back {
    display: block;
}
  
.Player-back {
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 12px;
}
  
.Player-back button {
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, .3);
    padding: 5px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
  